.wrapper {
  width: 100%;
  margin: 0 auto;

  .wrapper-content {
    display: flex;
    justify-content: space-between;
  }
}

header {
  width: 100%;
}

nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

// @media screen and (min-width: 800px) {
//   nav,
//   section {
//     float: left;
//   }

//   nav {
//     margin-right: 10px;
//   }
// }

@media screen and (min-width: 1000px) {
  .wrapper {
    width: 960px;
  }

  nav {
    width: 40%; //200px;
  }

  section {
    width: 57%; //750px;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

header,
nav,
section {
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-bottom: 10px;
  border-radius: 3px;
}

header {
  padding: 20px 0;
}

nav,
section {
  padding: 50px 0;
  float: left;
}

.width100 {
  width: 100% !important;
}

.width0 {
  width: 0 !important;
}
